@import url("../twentyeleven/style.css");

%clearfix {
  *zoom: 1;
  &::before,
  &::after {
    content: " ";
    display: table;
  }

  &::after {
    clear: both;
  }
}

h1 {
  font-size: 1.1rem;
}

.entry-header {
  display: none;
}

#searchform {
  display: none;
}

.widget {
  li {
    margin-left: 20px;
  }

  ul {
    @nest p + & {
      margin-top: -20px;
    }

    margin-bottom: 10px;
  }
}

.kuenstler {
  .kuenstler__image {
    margin-right: 0;

    img {
      width: 100%;
      height: auto;
      margin-bottom: 0;
      margin-left: 0;
    }
  }

  &.kuenstler--teaser {
    display: block;
    float: left;
    margin-right: 2rem;

    .kuenstler__image {
      max-width: 130px;
      min-height: 160px;
    }
  }

  &.kuenstler--detail {
    @extend %clearfix;

    .kuenstler__image {
      float: right;
      max-width: 200px;
      min-height: 250px;
      margin-bottom: 2rem;
      margin-left: 2rem;
    }
  }
}

.veranstaltung {
  .kuenstler-container {
    @extend %clearfix;
  }
}

#secondary h2 {
  font-weight: bold;
}

.map-container {
  width: 100%;

  & iframe {
    position: relative; /* IE needs a position other than static */
    display: block;
    width: 100%;
    pointer-events: none;

    &.clicked {
      pointer-events: auto;
    }
  }
}

span.wpcf7-list-item {
  margin-left: 0 !important;
}
